@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #bbebf8;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.containerr{
    padding-left: 10%;
    padding-right: 10%;
}
.btnn{
    border:5px blue;
    /* background:#6f2b2b; */
    color: #212121;
    padding: 7px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content:center; ;
}
.btnn:hover{
    background-color: rgb(24, 104, 195);
    color:white;
}

.btnn img{
    width: 20px;
    margin-left: 10px;
}
/* -----------Media Query--------------- */
@media (min-width: 1200px){
    .container{
        padding-left:5%;
        padding-right:5%;
    }
    .btnn{
        padding: 10px 20px;
    }
}